@import '_content/BsSnake.Rcl/BsSnake.Rcl.bundle.scp.css';

/* _content/BsSnake.Server/Shared/MainLayout.razor.rz.scp.css */
.page[b-mrlnxag2nt] { display: flex; position: relative; flex-direction: column; }

main[b-mrlnxag2nt] { flex: 1; }

.sidebar[b-mrlnxag2nt] { background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); }

.top-row[b-mrlnxag2nt] { display: flex; height: 3.5rem; border-bottom: 1px solid #d6d5d5; background-color: #f7f7f7; align-items: center; justify-content: space-between; }

.top-row[b-mrlnxag2nt]  a, .top-row .btn-link[b-mrlnxag2nt] { margin-left: 1.5rem; white-space: nowrap; }

.top-row a:first-child[b-mrlnxag2nt] { overflow: hidden; text-overflow: ellipsis; }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-mrlnxag2nt] {
        display: none;
    }

    .top-row.auth[b-mrlnxag2nt] {
        justify-content: space-between;
    }

    .top-row a[b-mrlnxag2nt], .top-row .btn-link[b-mrlnxag2nt] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-mrlnxag2nt] {
        flex-direction: row;
    }

    .sidebar[b-mrlnxag2nt] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-mrlnxag2nt] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-mrlnxag2nt], article[b-mrlnxag2nt] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
